<!DOCTYPE html>
<html>
<head>
  <title>Milkman2</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	 <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>"><b>MilkTrackr</b></a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class = "icon-bar white"></span>
          <span class = "icon-bar white"></span>
          <span class = "icon-bar white"></span>
        </button>
        <div class = "collapse navbar-collapse navHeaderCollapse">
          <ul class = "nav navbar-nav navbar-right">
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= dashboard_path %>">Dashboard</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>